* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  font-family: monospace;
  line-height: normal;
}

app-root {
  display: block;
  height: 100%;
}
